.nav {
  display: grid;
  justify-items: end;
  /*grid-template-columns: repeat(auto-fill);

  grid-gap: 20px;*/

  font-size: $navFontSize;
  font-weight: $navFontWeight;
  background-color: $navColorBg;
  text-transform: uppercase;
  
  &__list {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 20px;
    white-space: nowrap;
    /*justify-content: space-between;*/
    /*justify-items: end;*/
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;

    transition: color 1s;
  }

  &__item :hover {
    color: $navItemColor;
  }

  &__link {
    display: grid;
    align-items: center;
    height: 60px;
    
  
    text-decoration: none;
    color: $navLinkColor;
  }

  /*display: flex;
  align-items: center;

  font-size: $navFontSize;
  font-weight: $navFontWeight;
  background-color: $navColorBg;
  text-transform: uppercase;

  &__list {
    display: flex;
    padding: 0;
  }

  &__item {
    margin-left: $navItemMarginLeft;
    list-style: none;

    transition: color 1s;
  }

  &__item :hover {
    color: $navItemColor;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navLinkHeight;
  
    text-decoration: none;
    color: $navLinkColor;
  }*/
}

.is-active {
  position: relative;
  /*margin-left: -20px;*/

  color: $navItemColor;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  
    height: 4px;
   
    background-color: $navItemColor;
    border-radius: $navLinkActiveBorderRadius;
    
    content: "";
  }

  /*@media screen and (max-width: 1024px) {
    margin-left: -20px;
  }*/

}
