.product {
  display: grid;
  justify-content: space-between;
  grid-template-areas: "imac imac"
    "title title"
    "code code"
    "review review"
    "price price"
    "button button";
  padding-bottom: 15px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    display: grid;
    grid-area: imac;
    justify-content: center;
    padding: 14px 19px 15px;
  }

  &__photo {
    width: 160px;
    height: 150px;
    padding-top: 16px;

    transition: transform 1s;
  }

  &__photo:hover {
    transform: scale(1.25);
    border: 3px solid #f3f3f3;
    border-radius: 5px;
  }

  &__wrap {
    padding-left: 14px;
  }

  &__title {
    grid-area: title;
    font-size: $productTitleFontSize;
    font-weight: $productTitleFontWeight;
    padding-top: 17.5px;
    line-height: 15.5px;
    margin-bottom: -4.22px;
  }

  &__code {
    display: code;
    font-size: $productCodeFontSize;
    font-weight: $productCodeFontWeight;
    line-height: 11.5px;
    margin-bottom: 15px;
  }

  &__stars-review {
    display: grid;
    grid-area: review;
    grid-template-areas: "stars text";
    justify-content: space-between;
    padding-right: 7px;
  }

  &__review {
    grid-area: text;
    font-size: $productReviewFontSize;
    font-weight: $productReviewFontWeight;
    line-height: 13px;
    margin-top: 1.5px;
  }

  &__price {
    display: grid;
    grid-area: price;
    grid-template-areas: "name amount";
    padding-right: 7px;
    justify-content: space-between;
  }

  &__price-name {
    grid-area: name;
    font-size: $productPriceNameFontSize;
    font-weight: $productPriceNameFontWeight;
    line-height: 13px;
    padding-top: 4.5px;
  }

  &__price-amount {
    grid-area: amount;
    font-size: $productPriceAmountFontSize;
    font-weight: $productPriceAmountFontWeight;
    line-height: 19px;
    margin-top: 10.5px;
  }

  &__link {
    display: grid;
    align-items: center;
    width: 170px;
    height: 40px;
    border-radius: $productLinkBuyBorderRadius;
    margin-top: 4px;

    justify-content: center;

    text-decoration: none;
    text-transform: uppercase;
    font-size: $productLinkBuyFontSize;
    font-weight: $productLinkBuyFontWeight;
    line-height: 16px;
    color: $productLinkBuyColor;
    background-color: $productLinkBuyColorBg;

    transition: background-color 1s, color 1s;
  }

  &__link:hover {
    background-color: $productLinkBuyColor;
    color: $productLinkBuyColorBg;
    border: $productLinkBuyHoverBorder;
  }
}
